Repository londonaicentre/flip-fl-base: changes, and which Codecov flags are due for each by the changed paths.
All: flip, api

ci: add permissions for contents in check-metadata job
  .github/workflows/check-package-metadata.yml
Due: none

Handle nans gracefully
  Makefile
  tutorials/image_classification/xray_classification/app_files/config.json
  tutorials/image_classification/xray_classification/app_files/loss_and_metrics.py
  tutorials/image_classification/xray_classification/app_files/trainer.py
Due: none

update readme, ensure send_metrics sends an actual number
  tutorials/image_classification/xray_classification/README.md
  tutorials/image_classification/xray_classification/app_files/trainer.py
Due: none

lint
  tutorials/image_classification/xray_classification/app_files/trainer.py
Due: none

fix
  Makefile
Due: none

Auto stash before checking out "origin/develop"
  Makefile
  pyproject.toml
  tutorials/hello_world/README.md
  tutorials/hello_world/client.py
  tutorials/hello_world/job.py
  tutorials/hello_world/model.py
  tutorials/hello_world/requirements.txt
  uv.lock
Due: none

feat: add internal service key authentication for fl-server and fl-client -- separated server-only and client-only variables -- only server can call central hub
  .env.production.template
  flip/constants/flip_constants.py
  flip/core/standard.py
  tests/unit/core/test_standard.py
Due: flip

docs: add tutorials section to docs nav
  docs/index.rst
  docs/tutorials/index.rst
Due: none

docs: add hello-world FLIP migration tutorial
  docs/tutorials/TUTORIAL_SUMMARY.md
  docs/tutorials/hello-world-flip.rst
Due: none

docs: add XGBoost and MONAI FLIP tutorial drafts
  docs/tutorials/hello-xgboost-flip.rst
  docs/tutorials/monai-spleen-segmentation.rst
Due: none

docs: add monai-spleen-segmentation and hello-xgboost-flip tutorials to index
  docs/tutorials/index.rst
Due: none

removed PRIVATE_API_KEY and PRIVATE_API_KEY_HEADER
  .env.production.template
  .env.test
  flip/constants/flip_constants.py
  tests/unit/conftest.py
  tests/unit/constants/test_flip_constants.py
  tests/unit/core/test_standard.py
Due: flip

Add CLAUDE.md with project guidance for AI assistants
  .gitignore
  CLAUDE.md
Due: none

Lock commits from other branch to main
  .github/workflows/validate-pr-source-branch.yml
  uv.lock
Due: none

More targeted workflow
  .github/workflows/validate-pr-source-branch.yml
Due: none

fix: resolve ruff import and unused variable issues
  flip/nvflare/components/persist_and_cleanup.py
  tutorials/image_synthesis/latent_diffusion_model/app_files/trainer.py
Due: flip

fix: resolve Ruff CI issues in tutorial trainers
  tutorials/image_classification/xray_classification/app_files/validator.py
  tutorials/image_segmentation/3d_spleen_segmentation/app_files/trainer.py
Due: none

docs: fix sphinx tutorial warnings and make docs target
  Makefile
  docs/tutorials/hello-world-flip.rst
  docs/tutorials/hello-xgboost-flip.rst
Due: none

feat(tutorials): add migrated new image segmentation simulation
  Makefile
  docs/tutorials/monai-spleen-segmentation.rst
  tutorials/image_segmentation/3d_spleen_segmentation/app_files/trainer.py
  tutorials/image_segmentation/new_image_segmentation/README.md
  tutorials/image_segmentation/new_image_segmentation/client.py
  tutorials/image_segmentation/new_image_segmentation/job.py
  tutorials/image_segmentation/new_image_segmentation/model.py
  tutorials/image_segmentation/new_image_segmentation/requirements.txt
  uv.lock
Due: none

docs(tutorials): polish new image segmentation README
  tutorials/image_segmentation/new_image_segmentation/README.md
Due: none

fix(integration): resolve weight-diff and evaluator runtime errors
  flip/utils/model_weights_handling.py
  tests/unit/utils/test_model_weights_handling.py
  tutorials/image_evaluation/3d_spleen_segmentation_evaluation/app_files/evaluator.py
  tutorials/image_segmentation/original_from_monai/client.py
  tutorials/image_segmentation/original_from_monai/job.py
  tutorials/image_segmentation/original_from_monai/model.py
Due: flip

moved xrays_mini_300 dataset to the same test data folder in HF (https://huggingface.co/datasets/aicentreflip/flip-fl-base-test-data/tree/main/flip-fl-base-test-data) and fixed test data paths
  Makefile
  tutorials/image_classification/xray_classification/.env.app
Due: none

Evaluation tutorial: evaluate full cohort, drop LOCAL_ROUNDS/TEST_SPLIT
  tutorials/image_evaluation/3d_spleen_segmentation_evaluation/app_files/config.json
  tutorials/image_evaluation/3d_spleen_segmentation_evaluation/app_files/evaluator.py
Due: none

Add Flower server-side helpers for metrics and exception forwarding
  flip/flower/__init__.py
  flip/flower/metrics.py
  tests/unit/flower/__init__.py
  tests/unit/flower/test_metrics.py
Due: flip

Document flip/flower/ module in CLAUDE.md repository structure
  CLAUDE.md
Due: none

Document flip.flower sub-package in README
  README.md
Due: none

Add net-1 NVFLARE provisioning config for production
  net-1_project_prod.yml
Due: none

bump: update package version to 0.1.5
  flip/__init__.py
Due: flip

feat(config): rename CENTRAL_HUB_API_URL -> FLIP_API_INTERNAL_URL
  .env.production.template
  .env.test
  flip/constants/flip_constants.py
  flip/core/standard.py
  tests/unit/conftest.py
  tests/unit/constants/test_flip_constants.py
  tests/unit/core/test_standard.py
Due: flip

test(core): cover send_metrics success path
  tests/unit/core/test_standard.py
Due: none

fix(flip_session): auto-reconnect on SessionClosed in _do_command
  fl_services/fl-api-base/fl_api/utils/flip_session.py
  fl_services/fl-api-base/tests/utils/test_flip_session.py
Due: api

feat(flip): forward TRUST_INTERNAL_SERVICE_KEY on trust-internal calls
  flip/__init__.py
  flip/constants/flip_constants.py
  flip/core/standard.py
  tests/unit/core/test_standard.py
  uv.lock
Due: flip

refactor(flip): extract _hub_internal_headers() to mirror trust-internal helper
  flip/core/standard.py
Due: flip

test(flip): cover empty TRUST_INTERNAL_SERVICE_KEY forwarding from sender
  tests/unit/core/test_standard.py
Due: none

Path conditions:
  flip: any of: flip/, but not: tests/, fl_services/fl-api-base/tests/, tutorials/, workspace/, src/, scripts/
  api: any of: fl_services/fl-api-base/fl_api/, but not: tests/, fl_services/fl-api-base/tests/, tutorials/, workspace/, src/, scripts/
